Flask==3.1.0
Flask-Login==0.6.2
Flask-Session==0.4.0
Flask-SocketIO==5.5.1
importlib-metadata==4.12.0
Jinja2==3.1.2
MarkupSafe==2.1.1
multidict==6.1.0
packaging==24.2
paho-mqtt==2.1.0
propcache==0.2.1
pyftdi==0.54.0
pyserial==3.5
pyTelegramBotAPI==4.26.0
pyusb==1.2.1
PyYAML==6.0.2
requests==2.32.3
simple-websocket==1.1.0
systemd==0.17.1
typing_extensions==4.6.2
urllib3==2.3.0
wsproto==1.2.0
yarl==1.18.3
zipp==3.8.1
pytest~=8.3.4
aiohttp