[Unit]
Description=Weather Station Server
After=network.target

[Service]
User=olemin
WorkingDirectory=/home/olemin/repo/ambient_collector/
ExecStart=/home/olemin/repo/ambient_collector/.venv/bin/flask --no-debug run --host=0.0.0.0 -p 8088
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
