<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Weather Station Project</title>
    <link href="{{url_for('static', filename = 'bootstrap530/css/bootstrap.min.css')}}" rel="stylesheet"/>
    <link href="{{url_for('static', filename = 'index.css')}}" rel="stylesheet"/>
    <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-3.7.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = '/bootstrap530/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'plotly-2.24.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = 'date.format.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename = '/socket_io_460/socket.io.min.js') }}"></script>
  </head>
  <body>
    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Central</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="outdoors">Outdoors</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="rooms">Rooms</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="psu">PSU</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="container-fluid content mt-5">
      <div class="row">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-danger">
          <h1 class="h2 text-danger">Weather Station Dashboard</h1>
          <div class="row"></div>
        </div>
      </div>
      <div class="row">
          <div class="col d-flex align-items-center justify-content-center rounded-3 p-1 shadow">
            <div class="right-side">
              <div class="box-topic">Temperature</div>
              <div class="number" id="temperature">-</div>
            </div>
          </div>
          <div class="col d-flex align-items-center justify-content-center rounded-3 p-1 shadow">
            <div class="right-side">
              <div class="box-topic">Humidity</div>
              <div class="number" id="humidity">-</div>
            </div>
          </div>
          <div class="col d-flex align-items-center justify-content-center rounded-3 p-1 shadow">
            <div class="right-side">
              <div class="box-topic">Pressure</div>
              <div class="number" id="pressure">-</div>
            </div>
          </div>
      </div>
      <div class="divider py-1 bg-dark"></div>
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div id="temperature_cmp"></div>
        </div>
        <div class="col-md-12 col-lg-8">
           <div id="history"></div>
        </div>
      </div>
      <div class="row">
        <div class="col d-flex lign-items-center justify-content-center shadow">
          <div class="box-topic">Ambient light:</div>
          <div class="number" id="ambient_light">-</div>
        </div>
        <div class="col d-flex lign-items-center justify-content-center shadow">
          <div class="box-topic">battery:</div>
          <div class="number" id="battery">-</div>
        </div>
      </div>
    </div>
    <footer class="footer mt-auto py-3 bg-dark">
      <div class="container text-center">
        <span class="text-white">&copy;2023</span>
      </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename = 'outdoors.js') }}"></script>
  </body>
</html>
