{% extends "layout.html" %}
{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename = 'plotly.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename = 'outdoors.js') }}"></script>
{% endblock %}
{% block content %}
  <div class="container-fluid content mt-5">
    <div class="row">
      {%for item in summary%}
        <h4>{{item[0]}}: <span class="number" id={{item[1]}}>-</span> </h4>
      {%endfor%}
    </div>
    {%for item in graphs%}
      <div class="divider py-1 bg-dark"></div>
      <div class="row">
        <div id={{item}}></div>
      </div>
    {%endfor%}
  </div>
{% endblock %}
