{% extends "layout.html" %}
{% block head %}
  <script type="text/javascript" src="{{ url_for('static', filename = 'plotly-2.24.1.min.js') }}"></script>
 <script type="text/javascript" src="{{ url_for('static', filename = 'psu.js') }}"></script>
{% endblock %}
  {% block content %}
    <div class="container-fluid content mt-5">
      <div class="row">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom border-danger">
          <h1 class="h2 text-danger">Мережа 220<span class="number" id="V220"></span></h1>
          <div class="row"></div>
        </div>
      </div>
      <div class="row">
        <div class="p-3 border-top border-3 border-danger">
          <div class="row mt-3 gx-5">
              <div id="psu_history"></div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
